<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screws localization from the pointcloud</title>
    <style>
      .ok{
           
           font-size: 20px;
      }
      .op{
        font-size: 20px;
        margin-left: -70px;
        font-weight: bold;
        background-color: yellow;
        border-radius: 5px;
        cursor: pointer;
      }
        
     
    </style>
</head>
<body>
    <div class="center">
 
 


 <form method="POST" action="/" enctype="multipart/form-data">
        <h1> Choose a PLY file </h1>
            <input class="ok" type="file" name="file"  multiple="">
            <button class="op">Submit the PLY file</button>
        </form>
  <img src= "{{image}}" >
    </div>
     
</body>
</html>
